In [39]:
import pandas as pd

In [45]:
df=pd.read_csv('C:/Users/USUARIO/Documents/Csv-Fvs/tabula-boletim-diario-de-casos-covid-19-05-06-2020.csv', encoding="utf-8",sep=";")

In [56]:
df=pd.read_csv('C:/Users/USUARIO/Documents/Csv-Fvs/tabula-boletim-diario-de-casos-covid-19-05-06-2020.csv', encoding="utf-8",sep=";", header=0)

In [55]:
df.head(18)

       ,INTERNADOS CONFIRMADOS EM MANAUS,,
0   REDE,INTERNADOS LEITO CLÍNICO,EM UTI,%
1                PRIVADA,88 36,52,"59,09%"
2             PÚBLICA,316 213,103,"32,59%"
3                       TOTAL,404 249,155,
4                     CONSOLIDADO CASOS DE
5                               INTERNAÇÃO
6                            LEITO CLÍNICO
7                                      528
8                                   EM UTI
9                                      288
10                              INTERNADOS
11                                     816
12       ,INTERNADOS SUSPEITOS EM MANAUS,,
13  REDE,INTERNADOS LEITO CLÍNICO,EM UTI,%
14               PRIVADA,58 33,25,"43,10%"
15            PÚBLICA,354 246,108,"30,51%"
16                      TOTAL,412 279,133,
17                              ,,ÓBITOS,,